<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>generic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE0F0D2B1C8270C800C8DC0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE0F0D3F1C8270CA00C8DC0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE0F0D4A1C8270CA00C8DC0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
